---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="DM space">
  <p>This is where the magic happens</p>
  <a href="/dm/drakkenheim">Drakkenheim encounters</a>
</BaseLayout>
