---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="DM space">
  <p>This is where the magic happens</p>
  <ul>
    <li><a href="/dm/drakkenheim">Drakkenheim encounters</a></li>
    <li><a href="/dm/pumpkinSliceLatte">Pumpkin Slice Latte encounters</a></li>
  </ul>
</BaseLayout>
