---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Drakkenheim encounters">
  <ul>
    <li>
      <a href="/dm/drakkenheim/saintBrennaFFPart2">Saint Brenna FF Part 2</a>
    </li>
  </ul>
</BaseLayout>
