---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MarkdownLink from "../../components/MarkdownLink.astro";
import { getCollection } from "astro:content";

const allBeasts = await getCollection("bestiary");
---

<!-- TODO: add
    - dregs
      - frenzied
      - leeching
      - cyclops
      - tentacled
    - delerium dragon wyrmling
    - trolls
      - tentacled troll
    - shadow
    - ratling warlock
-->
<BaseLayout title="Bestiary">
  <p>Here we collect what was learned during encounters with creatures</p>
  <ul>
    {
      allBeasts.map((beast) => (
        <MarkdownLink
          url={`/bestiary/${beast.slug}/`}
          title={beast.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
