---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MarkdownLink from "../../components/MarkdownLink.astro";

const allBeasts = await Astro.glob("/src/pages/bestiary/*.md");
---

<!-- TODO: add
    - dregs
      - frenzied
      - leeching
      - cyclops
      - tentacled
    - delerium dragon wyrmling
    - trolls
      - tentacled troll
    - shadow
    - ratling warlock
-->
<BaseLayout title="Bestiary">
  <p>Here we collect what was learned during encounters with creatures</p>
  <ul>
    {
      allBeasts.map((beast) => (
        <MarkdownLink url={beast.url} title={beast.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
