
html {
    background-color: oklch(17.64% 0.032 304.82);
    font-family: sans-serif;
    color: oklch(93.52% 0.0379 304.82);
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: oklch(69.5% 0.132 342.48);
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: oklch(93.52% 0.0379 304.82);

}

.nav-links a:hover,
.nav-links a:focus {
    background-color: oklch(76.99% 0.08 226.91);
    color: oklch(17.64% 0.032 304.82);
}

.expanded {
    display: unset;
}

a {
    color: oklch(76.99% 0.08 226.91);
    text-decoration: none;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid oklch(93.52% 0.0379 304.82);
}


th,
td {
    padding: 8px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

thead th:nth-last-child(1) {
    text-align: right;
}

tbody td:nth-last-child(1) {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: oklch(30% 0.032 304.82);
}

tbody tr:nth-child(even) {
    background-color: oklch(17.64% 0.032 304.82);
}
