/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    text-wrap: balance;
}


li {
    line-height: 1.5;
}

/* end of CSS reset */

:root {
    /* background/text colors*/
    --body-bg: oklch(17.64% 0.032 304.82);
    --card-bg: oklch(20% 0.032 304.82);
    --nav-bg: oklch(25% 0.032 304.82);
    --table-cell-hover: oklch(40% 0.032 304.82);
    --text-color-darker-1: oklch(60% 0.032 304.82);
    --text-color: oklch(93.52% 0.032 304.82);

    /* accent/primary colors*/
    --highlight-color: oklch(76.99% 0.08 226.91);
    --map-link-bg: oklch(76.99% 0.08 226.91 / 0.5);
    --map-link-bg-hover: oklch(76.99% 0.08 226.91 / 0.8);
    --map-link-icon-color: oklch(44.81% 0.08 226.91);
    --button-color: oklch(60% 0.08 226.91);
    --button-color-hover: oklch(55% 0.08 226.91);
    --button-color-active: oklch(44.81% 0.08 226.91);
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

* {
    box-sizing: border-box;
}

.card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 0 1rem;
}

table {
    border-collapse: unset;
    border-spacing: 0;
    width: 100%;

    :is(td,th) {
        border-style: solid;
        padding: 0.5em 1em;
        border-block-width: 1px 0;
        border-inline-width: 1px 0;
        &:last-of-type {
            border-inline-width: 1px;
        }
    }

    :is(td):last-of-type {
        text-align: right;
    }

    :is(tr):last-of-type {
        & td {
            border-block-width: 1px;
        }
    }

    th {
        &:first-of-type {
            border-start-start-radius: 10px;
        }
        &:last-of-type {
            border-start-end-radius: 10px;
        }
    }

    tr {
        &:last-of-type {
            & td {
                &:first-of-type { border-end-start-radius: 10px }
                &:last-of-type { border-end-end-radius: 10px }
            }
        }
        &:hover {
            background: var(--nav-bg);
        }
    }

    td:hover {
        background: var(--table-cell-hover);
    }
}