---
import BaseLayout from "../../layouts/BaseLayout.astro";

---
<!--
TODO:
- add nex
  - add spell overview for nex
    - concentrated spells have different background
    - there is a vue component for tracking
      - concentration
      - spell slots
    - when hovering over spell detail view, it extends and shows whole description
  - add turn action overview for
    - nex
    - hedrick
    - Bernhard?
- add Jazz
  - add turn action overview
- add Remi
  - add turn action overview
-->
<BaseLayout title="Characters">
    <p>Here you will see the characters and links to their specific sites</p>
</BaseLayout>