---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SpellListItem from "../../components/SpellListItem.astro";
import { getCollection, type CollectionEntry } from "astro:content";
const byTitle = (
  a: CollectionEntry<"spells">,
  b: CollectionEntry<"spells">,
): number => {
  if (a.data.title < b.data.title) {
    return -1;
  } else if (a.data.title > b.data.title) {
    return 1;
  } else {
    return 0;
  }
};

const allSpells = (await getCollection("spells")).sort(byTitle);
---

<BaseLayout title="Spells">
  <a href="/spells/levels">
    <div>Sort by Level</div>
  </a>
  <ul>
    {allSpells.map((spell) => <SpellListItem spell={spell} />)}
  </ul>
</BaseLayout>
