---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MarkdownLink from "../../components/MarkdownLink.astro";
import {MarkdownInstance} from "astro";

const byTitle = (a: MarkdownInstance<Record<string, any>>, b: MarkdownInstance<Record<string, any>>): number => {
    if(a.frontmatter.title < b.frontmatter.title) {
        return -1;
    } else if(a.frontmatter.title > b.frontmatter.title) {
        return 1;
    } else {
        return 0;
    }
}

const allSpells = (await Astro.glob("/src/pages/spells/*.md")).sort(byTitle);
---
<BaseLayout title="Spells">
    <a href="/spells/levels">
        <div>
            Sort by Level
        </div>
    </a>
    <ul>
        {allSpells.map((spell) => <MarkdownLink url={spell.url} title={spell.frontmatter.title} disabled={spell.frontmatter.disabled} />)}
    </ul>
    <!-- TODO: add the normal spells from sebastion crowe's guide to Drakkenheim as well-->
</BaseLayout>