---
import BaseLayout from '../layouts/BaseLayout.astro';
import ShopLink from "../components/ShopLink.astro";

const allShops = await Astro.glob('../pages/shops/*.md')
---

<BaseLayout title="Emberwood Village">
    <p>This is the list of shops</p>
    <ul>
        {allShops.map((shop) => <ShopLink url={shop.url} title={shop.frontmatter.title} />)}
    </ul>
</BaseLayout>
