---
import Navigation from './Navigation.astro';
---
<header>
    <div>
        <h1 class="delerium-text-color"><a href="/">Drakkenheim Beyond</a></h1>
        <nav>
            <Navigation />
        </nav>
    </div>
</header>

<style>
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delerium-text-color a {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, rebeccapurple, teal);
        // TODO: can I do a running animation on hover?
        &:hover {
            background-image: linear-gradient(90deg, teal, rebeccapurple);
        }
    }
</style>