---
const { url, title, columnStart, columnEnd, rowStart, rowEnd } = Astro.props;
---
<a class="mapLink" href={url} >{title}</a>

<style define:vars={{columnStart, columnEnd, rowStart, rowEnd}}>
    .mapLink {
        grid-column: var(--columnStart) / var(--columnEnd);
        grid-row: var(--rowStart) / var(--rowEnd);
        background-color: oklch(76.99% 0.08 226.91 / 0.3);
        color: oklch(17.64% 0.032 304.82);
        display: grid;
        place-items: center;
        font-size: 0.5rem;
        border-radius: 5px;
    }
    .mapLink:hover {
        background-color: oklch(76.99% 0.08 226.91 / 0.5);
    }
</style>