<div class="nav-links">
    <a href="/">Emberwood</a>
    <a href="/spells">Spells</a>
    <a href="/downtime">Downtime</a>
    <a href="/bestiary">Bestiary</a>
    <a href="/timeline">Timeline</a>
</div>