---
import { achievedPrerequisites } from "../scripts/spellPrerequisites";
import MarkdownLink from "./MarkdownLink.astro";
import { getSpellSchoolIconName } from "../scripts/spellUtils";
import InlineIcon from "./InlineIcon.astro";
import { type CollectionEntry } from "astro:content";

type Props = { spell: CollectionEntry<"spells"> };

const { spell } = Astro.props;
---

<MarkdownLink
  url={`/spells/${spell.slug}`}
  title={spell.data.title}
  disabled={spell.data.disabled}
  icon={getSpellSchoolIconName(spell.data.school)}
>
  {
    spell.data.ritual ? (
      <InlineIcon icon="pentagram.svg" size="1rem" slot="postfix" />
    ) : null
  }
  {
    spell.data.prerequisites && spell.data.prerequisites.length > 0 ? (
      <ul>
        {spell.data.prerequisites.map((prerequisite) => (
          <li>
            {achievedPrerequisites.includes(prerequisite)
              ? prerequisite
              : "???"}
          </li>
        ))}
      </ul>
    ) : null
  }
</MarkdownLink>
