---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MarkdownLink from "../../components/MarkdownLink.astro";

const allDowntimeActivities = (await Astro.glob("/src/pages/downtime/*.md"));

---

<BaseLayout title="Downtime">
        <ul>
            {allDowntimeActivities.map((activity) => <MarkdownLink url={activity.url} title={activity.frontmatter.title} disabled={activity.frontmatter.disabled} />)}
            <li>
                Create scrolls
                <ul>
                    <li>only available to spellcasters</li>
                </ul>
            </li>
            <li>
                Fighting Pits
                <ul>
                    <li>make some money while fighting in the pits of buckledown row</li>
                </ul>
            </li>
            <li>
                Gambling
                <ul>
                    <li>also in buckledown row</li>
                </ul>
            </li>
            <li>
                Brew potions
                <ul>
                    <li>TODO: what is necessary for this? </li>
                </ul>
            </li>
            <li>
                Learn a tool proficiency
                <ul>
                    <li>10 weeks of training</li>
                </ul>
            </li>
            <li>
                Religious service
                <ul>
                    <li>help in the temple and get a favor (aka. a discount on the next service)</li>
                    <li>help the Falling Fire</li>
                    <li>help the Silver Order in Camp Dawn</li>
                </ul>
            </li>
            <li>
                Crime
                <ul>
                    <li>available as soon as there is a better relationship with the Queen's Men</li>
                </ul>
            </li>
            <li>
                Patroling (aka work)
                <ul>
                    <li>help the hooded lanterns</li>
                </ul>
            </li>
        </ul>
</BaseLayout>