---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Pumpkin Slice Latte encounters">
  <ul>
    <li>
      <a href="/dm/pumpkinSliceLatte/pumpkinder">Pumpkinder</a>
    </li>
    <li>
      <a href="/dm/pumpkinSliceLatte/twistedPumpkins">Twisted Pumpkins</a>
    </li>
    <li>
      <a href="/dm/pumpkinSliceLatte/sinisterPumpkins">Sinister Pumpkins</a>
    </li>
    <li>
      <a href="/dm/pumpkinSliceLatte/pumpkinFiends">Pumpkin Fiends</a>
    </li>
    <li>
      <a href="/dm/pumpkinSliceLatte/slashingPumpkin">Slashing Pumpkin</a>
    </li>
  </ul>
</BaseLayout>
